*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    overflow-x: hidden;
}
/*singup section*/

 .top-banner{
    background-color: #734060;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .banner-text{
    font-size: 17px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
 }
 .banner-text i{
    color: #F2B955;
    position: relative;
    right: 5px;
    font-size: 14px;
 }
 .top-banner a{
    text-decoration: none;
    color: white;
    font-weight: 900;
 }
 .close-btn{
    position: absolute;
    right: 20px;
    background-color: #734060;
    border: none;
    color: white;
    font-size: 20px;
     padding: 10px 20px;
    cursor: pointer;
    height: 35px;
 }
 .close-btn:hover{
    background-color: #734060;
 }


/*Header*/
header{
    display: flex;
    padding: 20px 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
      justify-content: space-around; 
     align-items: center;  
   
}

header img{
    width: 230px; 
    height: 60px;
}
/*navgation*/
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

 ul li a{
    text-decoration: none;   
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
 ul i{
   font-size: 20px;
   color: #734060;
}
/* moblie */
@media(max-width:480px)
{
    .header img{
        width: 140px;
    } 
    #reee li {
        display: none;
    }
}

.fixed-icon{
    position: fixed;
    right: 15px;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}
.likes{
    color: #734060;
}
.icon i{
   
    color: #734060;
    background-color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}
.icon{
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.icons{
     background-color:#734060;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
    position: relative;
    top: 8px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.icons i{
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}

/* 1 section*/
.dev{
    display: flex;
    background-color: #f2f2f2; 
    justify-content: center;
    gap: 50px;

}
.con img{
     width:100%; 
     height: 550px;
    object-fit: contain;
}
.pree{
    position: relative;
    top: 10px;
}
.pree a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.pree span{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;;
}
.pree a:hover{
    text-decoration: underline;
}
.pree i{
    font-size: 12px;
    color: gray;
}
.pree h1{
    padding: 10px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    color: #734060;
}
.pree h3{
    
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
}
#red{
    font-size: 46px;
    font-weight: 400;
    font-family: "Drama Regular",;
    font-style: italic;
}
#ima{
    position: relative;
    top: 20px;
}
.pree p{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 32px;
    color:#4D4D4D;
    font-weight: 400;

}
/*2 section*/
.weeks{
    border: 1px solid #734060;
    background-color: #734060;
    height: auto;
    position: relative;
    bottom: 20px;
    padding: 20px 20px ;
    display: flex;
    justify-content: center;
    gap: 110px;

}
.ends{
    display: flex;
    justify-content: center;
}

.app h2{
 font-size: 16px;
 letter-spacing: 1.5px;
 position: relative;
  top: 35px; 
 color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.blue{
    position: relative;
     padding: 20px 0; 
    text-align: center;
    justify-items: center;
}
.blue a{
    display: inline-block; 
     margin: 5px; 
    text-decoration: none;
    color: white;
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 0px 0px 0px;
    font-size: 22px;
}
.blue i{
    
    color:#734060;
}
.blue :hover{
     background-color:lightgray;
     transform: scale(1.1);
    
}

.signup-section h2{
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.handwrite{
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-transform: lowercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 220px;
    outline: none;
}
button{
    background-color: #f1b200;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #ffcc33;
}
#message{
    margin-top: 15px;
    font-size: 18px;
    color: #ffeb3b;
    font-weight: bold;
}
.success-box{
    display: none;
    background-color: #c1f0d0;
    color: #003c1a;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}
@media(max-width:480px){
 .weeks{
        position: relative;
        margin-top: 50px;
    
    }

.signup-section h2{
    font-size: 12px;
}

#signupForm input{
    width:70%;
}
.but{
    position: relative;
    padding: 10px 10px;
    text-align: center; 
} 
}
/*3 section*/
.array{
    background-color: white;
     justify-content: center;
     padding: 10px 0px 0px 75px;
}
.array h2{
    position: relative;
    top: 40px;
    font-weight: bold;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.array p{
    position: relative;
    top: 60px;
    line-height: 28px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #4f4f4f;
}
.array img{
    position: relative;
    top: 80px;
    width: 60%;
}
/* 4 section */
.sent{
    position: relative;
    top: 100px;
   padding: 10px 0px 0px 75px;
}
.sent h2{
    font-size: 27px;
    font-weight: bolder;
}
.sent p{
    font-size: 17px;
    font-weight: 400;
    padding: 20px 0px 20px 0px;
    font-family:'Times New Roman', Times, serif;
}
.disy{
    border: 3px solid lightgrey;
    border-bottom: none;
    border-top: none;
    border-right: none;
}
.dis{
    display: flex;
    padding: 10px 0px 0px 0px;
}
.dis i{
    font-size: 7px;
    color: #734060;
    padding: 0px 15px 7px 10px;
}
.dis p{
    font-size: 17px;
    font-weight: 400;
    padding: 0px 0px 20px 0px;
    font-family:'Times New Roman', Times, serif;
}
.disy p{
     font-size: 17px;
    font-weight: 400;
    padding: 0px 0px 20px 0px;
    font-family:'Times New Roman', Times, serif;
}
/* 5 section */
.dele{
    position: relative;
    top: 120px;
    background-color: #008dd2;
    height: auto;
    
    
}
.seepd{
   padding: 40px 0px 0px 0px;
   display: flex;
   justify-content: center;
}
/* moblie */
@media(max-width:480px){
    .seepd{
        flex-direction: column;
        position: relative;
        right: 50px;
}
.code{
    position: relative;
    top: 40px;
}
}
.cor{
    text-align: center;
}
.cor h3{
    color: white; 
}
.nots{
    background-color: #f38b56;
    border-radius: none;
    height: 50px;
    width: 230px;
    position: relative;
    top: 40px;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}
.code{
   
     padding: 0px 0px 0px 10px;
     position: relative;
    right: 35px;  
     
}
.code h1{
      padding: 0px 0px 10px 100px;
     font-weight:bolder;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
}
.code p{
     color: white;
    padding: 10px 0px 0px 100px;
    line-height: 26px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: normal;
}
/* 6 section */
#team{
    position: relative;
    top: 130px;
    text-align: center;

}
#team h1{
    position: relative;
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#team p{
    position: relative;
    top: 20px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* 7 section */
.bike{
    position: relative;
    top: 180px; 
   
}

/* moblie */
@media(max-width:480px){
    .need {
      flex-direction: column;
    }
    
}
.need{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.need img{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    
}
 .thee{
    display: block;
    padding: 0px 0px 0px 40px;
} 

.thee h3{
    color: #734060;
    font-family: Arial, Helvetica, sans-serif;
}
.thee p{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 25px;
}
#keeps{
    position: relative;
     top: 200px;
    
}
/* 8 section */
/* moblie */
@media(max-width:480px){
    .reet{
        width:100%;
    }
    .cops{
        flex-direction: column;
        width: 100%;
    }
}

.reet{
    background-color: white;
    position: relative;
    top: 200px;
    height:auto;
    padding-bottom: 130px;
   
}
.cops{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}
#cops1{
    display: flex;
   gap: 50px;
    
}

.pirith h5{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d4d4d;
}
.pirith p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}


#Form{
    position: relative;
    bottom: 30px;
}

.sing{
    background-color: #734060;
    height: auto;
    padding: 20px 40px 20px 40px;
}
.sing h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.sing span{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    
}
.sing p{
    color: white;
    font-size: 17px;
    text-align: center;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0px 0px 40px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.lili{
    color: #4d4d4d;
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}
.power{
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
    gap: 20px;
}
.power img{
    height: 60px;
    width: 70px;
    color:gray;
}
#bank{
    position: relative;
    top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color:gray;
    height: 30px;
    width: 30px;
    padding: 0px 3px 0px 0px;
}
#bank:hover{
    background-color:#3B82F6;
}
.banks{
    display: flex;
}
.banks h1{
    color: #333;
    position: relative;
    top: 3px;
    padding: 0px 0px 0px 10px;
    font-weight: 900;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bulid2{
    display: flex;
}
.bulid2 a{
     margin: 7px;  
    text-decoration: none;
    color: white;
    background-color:#734060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 0px 0px 0px;
     font-size: 22px; 
}
 .bulid2{
     text-align: center; 
} 
.bulid2 i{
     color: white;
}
.bulid3{
    display: flex; 
    align-items: center;
    
}
.bulid3 img{
    width: 180px;
}
.bulid3 p{
    font-size: 13px;
    padding: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vicy{
    text-align: center;
    position: relative;
    top: 100px;
}
.vicy p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 0px 20px 0px;

}
.vicy a{
    
     text-decoration: underline;
     color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}