body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    
 
}
.popup{
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 25px;  
    border-radius: 10px;
    color: #fff;
    position: relative;
    justify-content: center;
    margin: auto;
    top: auto;
    margin-top: 50px;
}


input{
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 17px;
}
button{
    position: relative;
    top: 10px;
    width: 90%;
    padding: 12px;
    background-color: #f4c06b;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}

.close-btn{
    position: absolute;
    right: 10px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    

 }
 

