*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: #333;
    width: 100%;
}
/*singup section*/

 .top-banner{
    background-color: #734060;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .banner-text{
    font-size: 17px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
 }
 .banner-text i{
    color: #F2B955;
    position: relative;
    right: 5px;
    font-size: 14px;
 }
 .top-banner a{
    text-decoration: none;
    color: white;
    font-weight: 900;
 }
 .close-btn{
    position: absolute;
    right: 20px;
    background-color: #734060;
    border: none;
    color: white;
    font-size: 20px;
     padding: 10px 20px;
    cursor: pointer;
    height: 35px;
 }
 .close-btn:hover{
    background-color: #734060;
 }



/*Header*/
header{
    display: flex;
    padding: 20px 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
      justify-content: space-around; 
     align-items: center;  
   
}

header img{
    width: 230px; 
    height: 60px;
}
/*navgation*/
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

 ul li a{
    text-decoration: none;   
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
 ul i{
   font-size: 20px;
   color: #734060;
}
/* moblie */
@media(max-width:480px)
{
    .header img{
        width: 140px;
    } 
    #reee li {
        display: none;
    }
}
.fixed-icon{
    position: fixed;
    right: 15px;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}
.likes{
    color: #734060;
}
.icon i{
   
    color: #734060;
    background-color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}
.icon{
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.icons{
     background-color:#734060;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
    position: relative;
    top: 8px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.icons i{
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}
/* 1 section */
.dev{
    display: flex;
    background-color: #f2f2f2; 
    justify-content: center;
    gap: 50px;

}
.con img{
    width: 100%;
    height: 550px;
    object-fit: contain;
}

/* moblie */
@media(max-width:480px){
     .pree{
        position: relative;
         left:0px;
    } 
}

/* moblie */
@media(max-width:768px){
     .pree{
        position: relative;
         left:0px;
    } 
}

.pree {
    padding: 20px;
    position: relative;

}
.pree a{
    text-decoration: none;
    color: #4d4d4d;;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.pree span{
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;;
}
.pree a:hover{
    text-decoration: underline;
}
.pree i{
    font-size: 12px;
    color: gray;
}
.pree h1{
    padding: 10px 0px 0px 0px;
    font-size: 58px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #734060;
}
.pree h3{
    
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    bottom: 20px;

}
#red{
    font-size: 46px;
    font-weight: 400;
    font-family: "Drama Regular",;
    font-style: italic;
}
#ima{
    position: relative;
    top: 20px;
}
.pree p{
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 29px;
    color:#4D4D4D;
    font-weight: 400;
}
/* 2 section */
.weeks{
    background-color:white;
    height: auto;
    position: relative;
    bottom: 20px;
    padding: 20px 20px ;
    display: flex;
    justify-content: center;
    gap: 110px;

    
}

@media(max-width:480px){

.signup-section h2{
    font-size: 12px;
   
}
#signupForm input{
    width:80%;
}

.but{
    position: relative;
    bottom: 5px;
    padding: 10px 10px;
    text-align: center;
   
} 
}
.ends{
    display: flex;
    justify-items: center;
    
}
.app h2{
 font-size: 16px;
 letter-spacing: 1.5px;
 position: relative;
 top: 35px;
 color: #333;
 font-family: Georgia, 'Times New Roman', Times, serif;

}
.blue{
    position: relative;
    padding: 20px 0; 
    text-align: center; 
}
.blue a{
    display: inline-block; 
    margin: 8px;
    text-decoration: none;
    color: white;
    background-color: #734060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 0px 0px 0px;
    font-size: 22px;
}
.blue i{
    
    color:white;
}
.blue :hover{
     background-color:lightgray;
     transform: scale(1.1);
    
}

.signup-section h2{
    
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.handwrite{
    color:#333;
    font-size: 28px;
    font-weight: 400;
    text-transform: lowercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
 input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-top: 5px solid gainsboro;
    width: 40%;
    outline: none;
}
 button{
    background-color: #edb654;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover{
    background-color: #ffcc33;
}
#message{
    margin-top: 15px;
    font-size: 18px;
    color: #ffeb3b;
    font-weight: bold;
}
.success-box{
    display: none;
    background-color: #c1f0d0;
    color: #003c1a;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}
/* 3 section */
.deep{
    background-color: #734060;
    height: 250px;
}
.deep1{
    text-align: center;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px 0px 0px 0px;
}

.deep1 h2{
    font-size: 48px;
    color: white;
}
.deep1 p{
    color:#cab9cc;
    position: relative;
    top: 40px;
    font-size: 20px;
}
.meet{
    position: relative;
    text-align: center;
    display: flex;
    border: 1px solid gray;
    border-top: 7px solid #ddd;
    width: 60%; 
    height: 60px;
    background-color: white;
    left: 20%;
    top: 20px;
}
.meet input{
    border: none;
    font-size: 19px;
    position: relative;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.meet i{
    color: #734060;
    position: relative;
    top: 13px;
    font-size: 18px;
    left: 5px;
}
/* 4 section */
 .reff{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px 0px 0px 0px; 
}
.reff i{
    font-size: 35px;
    color: #edb654;
}
.reff h2{
    position: relative;
    top: 8px;
    letter-spacing: 1.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #734060;
    font-size: 24px;
    font-weight: 700;
}
#all{
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: #4D4D4D;
    line-height: 1.5;

} 
/* moblie */
@media(max-width:480px){
     
    .tap a {
       flex-direction: column;
    }
    .tap a img{
        width: 100%;
    }

   
}
.are{
    display: flex;
    justify-content: center;
    padding: 30px 0px 0px 0px;  
    background-color: #f2f2f2; 
    height: auto;
}
 .tap{
    padding: 0px 10px 10px 0px;  
} 
.tap a{
    display: flex;
    text-decoration: none;
    color: black;
    background-color: white;  
}
 .tap img{
    width: 25%;
    height: 260px;
} 
.tap h2{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding: 10px 20px;
}

.break{
    font-size: 17px;
    color: #888a88;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    
}
.make{
    background-color: #734060;
    color: white;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.make:hover{
    background-color: #333;
} 
/* 5 section*/
.milk{
    background-color: #f2f2f2;

}
.name{
    position: relative;
    top: 20px; 
    display: flex;
    color: #734060;
    text-align: center;
    justify-content: center;
 
}
.name i{
    color: #edb654;
    font-size: 38px;
    font-weight: 400;
    
}
.name h2{
    font-size: 27px;
    padding: 4px 0px 0px 0px;
    letter-spacing: 1px;
}
.code iframe{
    width: 100%;
}
.code{
    display: flex;
    position: relative;
    top: 30px; 
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
}
.code{
    display: flex;
}
.over h3{
    text-align: center;
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

/* 7 section*/
/* moblie */
@media(max-width:480px){
    .reet{
        width:100%;
    }
    .cops{
        flex-direction: column;
        width: 100%;
    }
}

.reet{
    background-color: white;
    position: relative;
    top: 30px;
    height:auto;
    padding-bottom: 130px;
   
}
.cops{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}
#cops1{
    display: flex;
   gap: 50px;
    
}

.pirith h5{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d4d4d;
}
.pirith p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}


#Form{
    position: relative;
    bottom: 30px;
}

.sing{
    background-color: #734060;
    height: auto;
    padding: 20px 40px 20px 40px;
}
.sing h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.sing span{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    
}
.sing p{
    color: white;
    font-size: 17px;
    text-align: center;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0px 0px 40px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.lili{
    color: #4d4d4d;
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}
.power{
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
    gap: 20px;
}
.power img{
    height: 60px;
    width: 70px;
    color:gray;
}
#bank{
    position: relative;
    top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color:gray;
    height: 30px;
    width: 30px;
    padding: 0px 3px 0px 0px;
}
#bank:hover{
    background-color:#3B82F6;
}
.banks{
    display: flex;
}
.banks h1{
    color: #333;
    position: relative;
    top: 3px;
    padding: 0px 0px 0px 10px;
    font-weight: 900;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bulid2{
    display: flex;
}
.bulid2 a{
     margin: 7px;  
    text-decoration: none;
    color: white;
    background-color:#734060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 0px 0px 0px;
     font-size: 22px; 
}
 .bulid2{
     text-align: center; 
} 
.bulid2 i{
     color: white;
}
.bulid3{
    display: flex; 
    align-items: center;
    
}
.bulid3 img{
    width: 180px;
}
.bulid3 p{
    font-size: 13px;
    padding: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vicy{
    text-align: center;
    position: relative;
    top: 100px;
}
.vicy p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 0px 20px 0px;

}
.vicy a{
    
     text-decoration: underline;
     color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}