*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: #333;
}
/*singup section*/

 .top-banner{
    background-color: #734060;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .banner-text{
    font-size: 17px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
 }
 .banner-text i{
    color: #F2B955;
    position: relative;
    right: 5px;
    font-size: 14px;
 }
 .top-banner a{
    text-decoration: none;
    color: white;
    font-weight: 900;
 }
 .close-btn{
    position: absolute;
    right: 20px;
    background-color: #734060;
    border: none;
    color: white;
    font-size: 20px;
     padding: 10px 20px;
    cursor: pointer;
    height: 35px;
 }
 .close-btn:hover{
    background-color: #734060;
 }

 /*Header*/
header{
    display: flex;
    padding: 20px 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
      justify-content: space-around; 
     align-items: center;  
   
}

header img{
    width: 230px; 
    height: 60px;
}
/*navgation*/
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

 ul li a{
    text-decoration: none;   
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
 ul i{
   font-size: 20px;
   color: #734060;
}
/* moblie */
@media(max-width:480px)
{
    .header img{
        width: 140px;
    } 
    #reee li {
        display: none;
    }
}

.fixed-icon{
    position: fixed;
    right: 15px;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}
.likes{
    color: #734060;
}
.icon i{
   
    color: #734060;
    background-color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}
.icon{
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.icons{
     background-color:#734060;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
    position: relative;
    top: 8px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.icons i{
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}



/* 1 Section */
.monday{
    display: flex;
    padding: 40px 0px 40px 0px;
    background-color:#f2f2f2 ;
    height: auto;
    width: 100%;
    border: none;
    justify-content:space-evenly; 
}
.need{
    width: 17%;
    text-align: center;
}
.need img{
    width: 80%;
     border-radius: 50%;
     
}
.need a{
    text-decoration: none;
    text-align: center;
     bottom: 20px;
    position: relative;
    
}
.need h4{
    color:gray ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}
.need h5{
    font-size: 15px;
    font-weight: 700;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #734060;  
    border-bottom: 2px solid #f1b200;

    
}
.need h5:hover{
    background-color: #edb654;
}
.weeks{
    position: relative;
    top: 20px;
}
.weed{
    display: flex;
    background-color: #edb654;
    width: 280px;
    gap: 12px;
    height: 20px;
    padding: 3px 7px ; 
}
.weed a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.weed a:hover{
    border-bottom: 1px solid white;

}
.weeks h1{
    font-size: 45px;
    position: relative; 
    top: 20px;
    color: #734060;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    
}
.weeks p{
    position: relative;
    top: 20px;
    font-size: 17px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    line-height: 1.5;
    right: 7px;
}

/* 2 Section*/
.reff{
    display: flex;
    position: relative;
    top: 40px;
    justify-content: center;
}
.reff i{
    font-size: 35px;
    color: #edb654;
}
.reff h2{
    position: relative;
    top: 8px;
    letter-spacing: 1.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #734060;
}
.reed{
    position: relative;
    top: 70px;
}
.reffd h2{
    position: relative;
    top: 50px;
    text-align: center;
    color: #734060;
    font-family: Arial, Helvetica, sans-serif;
}
.reffd p{
    position: relative;
    top: 55px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: gray;
    font-family: normal;
    font-size: 20px;
}
#hre{
   position: relative;
   top: 100px;
    width: 80%;
    color: #ddd;
    left: 10%;
    
}
.carousel-container {
  position: relative;
  top: 40px;
  width: 85%;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: transform 0.2s ease;
}

.item {
  min-width: 250px;
  height: 240px;
  overflow: hidden;
  

}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%); 
  padding: 10px 14px;
  border: none;
  background: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
}

.left { 
    left: 10px;
    z-index: 1;
    color: #333;
}
.right { 
    right: 10px; 
    color: #333;
}
.right:hover{
    background-color: white;
}
.left:hover{
    background-color: white;
}

.tap a{
   text-decoration: none;
   color: #333;
}
.tap{
   text-align: center; 
} 
.tap i{
    padding: 10px 0px ;
    color: #edb654;
    font-size: 14px;
    gap: 10px;
    
}
.tap p{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.tap h3{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}


/*3 section*/
.weeksd{
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    width: 100%;
    height: auto;
    position: relative;
    top: 100px;
    padding: 20px 0px 30px 0px;
    display: flex;
    justify-content: space-evenly;
}
@media(max-width:480px){
.weeksd{
        position: relative;
        margin-top: 50px;
        width: 100%;
  
    }
.signup-section h2{
    position: relative;
    top: 20px;
    font-size: 12px;
}

 #signupForm input{
    width:70%;
    position: relative;
    top: 20px;
}
.but{
    margin-top: 20px;
}

}

.ends{
    display: flex;
    justify-content:center ;
}
.app h2{
 font-size: 16px;
 letter-spacing: 1.5px;
 position: relative;
  top: 35px; 
 color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.blue{
    position: relative;
    padding: 20px 0; 
    text-align: center;
}
.blue a{
    display: inline-block; 
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 0px 0px 0px;
    font-size: 22px;
}
.blue i{
    
    color:#4d4d4d;
}
.blue :hover{
     background-color:lightgray;
     transform: scale(1.1);
    
}
.signup-section h2{
    color: white;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.handwrite{
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-transform: lowercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 40%;
}
button{
    background-color: #f1b200;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #ffcc33;
}
#message{
    margin-top: 15px;
    font-size: 18px;
    color: #ffeb3b;
    font-weight: bold;
}
.success-box{
    display: none;
    background-color: #c1f0d0;
    color: #003c1a;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}


/*4 Section*/

.milk{
    background-color: #f2f2f2;
    width: 100%;
    
}
.name{
    position: relative;
    top: 150px;
    display: flex;
    color: #734060;
    justify-content: center;
    gap: 20px;
}
.name i{
    color: #edb654;
    font-size: 38px;
    font-weight: 400;
    
}
.name h2{
    font-size: 27px;
    padding: 4px 0px 0px 0px;
    letter-spacing: 1px;
}
.code{
    display: flex;
    position: relative;
    top: 180px;
    justify-content: center;

}
.over iframe{
    width: 83%;
}
.over h3{
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
/* 5 Section*/
.contai{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    position: relative;
    top: 250px;
    
}
.section1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #734060;
}
.section1 i{
    width: 35px;
    color: #edb654;
}
.card1{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.card2{
    width: 20%;
}

.card2 img{
    width: 100%;
    gap: 10px;

}
.card2 h3{
    font-size: 24px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.review{
    font-size: 12px;
    color: gray;
    margin: 5px 0;
}
.review i{
    color: #edb654;
}
.review span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* 6 section */
.mori{
    position: relative;
    top: 240px;
    text-align: center;
}
.pree{
    color: #4d4d4d;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.mori button{
    height: 40px;
    width: 40px;
    gap: 20px;
    border: none;
    color: white;
    background-color: gray;
    font-size: 18px;
    font-weight: bold;
} 
#frees{
    background-color: #734060;
    
}
.mori button:hover{
    background-color: #734060;
}
.mori i{
    font-size: 18px;

}
/* 7 section*/

.deer{
    background-color: #4d4d4d;
    height:auto;
    position: relative;
    top: 250px;
    padding-bottom: 30px;
}
.deers{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}
 .deers img{
    width: 25%;
    
}
#first{
    width: 40%;
    height: 40px;
}
#email{
    width: 40%;
    height: 40px;
}
#go{
    width: 35px;
    height: 40px;
    padding: 0px 4px 0px 0px;
    font-size: 16px;
    font-weight: 600;
}
.hide{
    position: relative;
    padding: 0px 0px 0px 10px;
}
.hide p{
    color:#ffcc33;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#veed{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: whitesmoke;  
}
.hide h3{
    color: white;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
     
}

/* 8 section*/
/* moblie */
@media(max-width:480px){
    .reet{
        width:100%;
    }
    .cops{
        flex-direction: column;
        width: 100%;
    }
}

.reet{
    background-color: white;
    position: relative;
    top: 250px;
    height:auto;
    padding-bottom: 130px;
   
}
.cops{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}
#cops1{
    display: flex;
   gap: 50px;
    
}

.pirith h5{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d4d4d;
}
.pirith p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}


#Form{
    position: relative;
    bottom: 30px;
}
#gobtn{
    padding: 10px 10px;
    background-color: #F2B955;
    color: white;
    border: none;
}

.sing{
    background-color: #734060;
    height: auto;
    padding: 20px 40px 20px 40px;
}
.sing h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.sing span{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    
}
.sing p{
    color: white;
    font-size: 17px;
    text-align: center;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0px 0px 40px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.lili{
    color: #4d4d4d;
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}
.power{
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
    gap: 20px;
}
.power img{
    height: 60px;
    width: 70px;
    color:gray;
}
#bank{
    position: relative;
    top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color:gray;
    height: 30px;
    width: 30px;
    padding: 0px 3px 0px 0px;
}
#bank:hover{
    background-color:#3B82F6;
}
.banks{
    display: flex;
}
.banks h1{
    color: #333;
    position: relative;
    top: 3px;
    padding: 0px 0px 0px 10px;
    font-weight: 900;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bulid2{
    display: flex;
}
.bulid2 a{
     margin: 7px;  
    text-decoration: none;
    color: white;
    background-color:#734060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 0px 0px 0px;
     font-size: 22px; 
}
 .bulid2{
     text-align: center; 
} 
.bulid2 i{
     color: white;
}
.bulid3{
    display: flex; 
    align-items: center;
    
}
.bulid3 img{
    width: 180px;
}
.bulid3 p{
    font-size: 13px;
    padding: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vicy{
    text-align: center;
    position: relative;
    top: 100px;
}
.vicy p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 0px 20px 0px;

}
.vicy a{
    
     text-decoration: underline;
     color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}